.main{
    padding: 250px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./imaged/main_bg.jpg") center/contain fixed;
    position: relative;
}
.todo-container{
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    padding: 20px;
    background: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.search-panel{
    display: flex;
    justify-content: space-between;
}
.search-input{
    width: 50%;
}
.add-todo{
    display: flex;
    justify-content: space-between;
}
.add-input{
    width: 70%;
}
.todo-name.done{
    color: #00000050;
    text-decoration: line-through;
}
.todo-name.star{
    color:yellow;
}
.doneBnt.active{
    background: #28a745;
    border-color: #28a745;
    color: #fff;
}
.starBtn.active{
    color: #fff;
    border-color: #ffc107;
    background: #ffc107;
}